.about {
    flex-grow: 1;
}

.about h1 {
    margin-bottom: 20px;
}

.about span {
    color: green;
}

.about .button {
    border: none;
    outline: none;
    font-size: 20px;
    border: 1px solid blue;
    margin: 20px;
    padding: 7px;
    background: transparent;
    color: rgb(33, 187, 33);
    border-radius: 20px;
    cursor: pointer;
}