.skills {
    flex-grow: 1;
}

.skills h1 {
    margin-bottom: 20px;
}

.content {
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr 1fr;
}

.content div {
    margin-bottom: 25px;
}

.content strong {
    line-height: 25px;
    padding-bottom: 15px;
    display: block;
}

.content li {
    margin-bottom: 10px;
    color: green;
}

@media (min-width: 800px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}